* {
    border-radius: 0 !important;
  }
.gradient {
  background: rgb(0,136,255);
background: linear-gradient(169deg, rgba(0,136,255,1) 0%, rgba(45,128,217,1) 34%, rgba(36,40,177,0.9962359943977591) 50%);
}